# CodeIgniter 4 .gitignore
.env
.env.*
!.env.example

# Writable directory
writable/cache/*
!writable/cache/.gitkeep
writable/debugbar/*
!writable/debugbar/.gitkeep
writable/logs/*
!writable/logs/.gitkeep
writable/session/*
!writable/session/.gitkeep
writable/uploads/*
!writable/uploads/.gitkeep

# User Uploaded Files
public/uploads/piket/*
!public/uploads/piket/.gitkeep
!public/uploads/.htaccess

# Vendor and dependencies
vendor/

# IDE & OS files
.phpunit.result.cache
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
